h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.header,
.hero {
  background-color: #eeeff1;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: border-color ease-in-out 0.3s;
  border-bottom: 1px solid #eeeff1;
}
.header.scrolling .header-content {
  padding: 12px 0;
}
.header.scrolling {
  border-color: #ffee;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 57px 0;
  transition: padding ease-in-out 0.3s;
}

.header-logo {
}

.header-logo-icon {
  fill: #34547a;
}

.header-menu {
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
}

.header-item a:hover,
.header-item a:focus {
  color: #34547a;
}

.header-item a {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  color: #000;
  text-decoration: none;
}
.hero {
  padding-top: 257px;
  padding-bottom: 146px;
}
.hero-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 130px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 540px;
}

.hero-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.6;
  color: #000000;
}

.hero-descriotion {
  font-size: 16px;
  line-height: 1.6;
  color: #727272;
}
.skills-img {
  width: 300px;
  height: 250px;
}
.my-works-video {
  width: 500px;
  height: 350px;
}
.projects-img {
  width: 1920px;
  height: 960px;
}
